@import "generation";

@mixin _controlPanel_header_headerStylization(){
    font-family: "Source Sans Pro";
    color: black;
    padding-top: 20px;
    *{
	font-weight: 600;
    }
}

@include _controlPanel_header_generateHeader(".settings");

@mixin _controlPanel_header_subheaderStylization(){
    font-family: "Source Sans Pro";
    color: lighten(black, 30%);
    * {
      font-size: 18px;
    }
}

@include _controlPanel_header_generateSubheader(".sub-information")
