include ../../utility/component-lib/_controlPanel_header_generateHeader.pug
include ../../utility/component-lib/_controlPanel_container_generateContainer.pug
body
  .container
    +_controlPanel_header_generateHeader("Settings", "settings")
  .container.p-container
    .l-container
      .btn-container.btn-container-active 
        a Account
      .btn-container 
        a Password
      .btn-container 
        a Plans and Billing
      .btn-container 
        a Deactivate
    .r-container
      .col-md-6
        <div class="form-group">
            <label for="exampleInputEmail1">Your Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>

     
