include ../../utility/component-lib/_controlPanel_header_generateHeader.pug
include ../../utility/component-lib/_controlPanel_container_generateContainer.pug
body
  .container
    +_controlPanel_header_generateHeader("Settings", "settings")
  .container.p-container
    .l-container
      a.btn-container.btn-container-active Account
      a.btn-container Password
      a.btn-container Plans and Billing
      a.btn-container Deactivate
    .r-container
     
