include ../../utility/component-lib/_controlPanel_header_generateHeader.pug
include ../../utility/component-lib/_controlPanel_container_generateContainer.pug
body
  .container
    +_controlPanel_header_generateHeader("Settings", "settings")
  .container.p-container
    +_controlPanel_container_generateButtonContainer("l-container", ["Account", "Password", "Plans and Billing", "Deactivate"], "btn-container", "Account")
    +_controlPanel_container_SUBMODULE_generateEmailModule("r-container", "emailReset", "Your Email", "inputEmail", "Enter Email", "btn btn-primary", "Save Changes")

     
