@import 'generation';

html, body{
    *{
      font-family: "Source Sans Pro";
    }
  background: lighten(black, 95%);
}

@include _controlPanel_container_generateParentContainer(".p-container"){
    padding-top: 30px;
}

@include _controlPanel_container_generateGenericContainer(".l-container", 22.5%) {

    margin-left: 0px;
    margin-right: 40px;
    margin-bottom: 20px;
    background: white;

    @include _controlPanel_container_generateBtnContainer(".btn-container")
    {
      background: white;
      padding-bottom: 8px;

      @include _controlPanel_container_btnStylize() {
        color: black;
      }

      @include _controlPanel_container_activeStylize(){
	background: lighten(black, 90%);
	font-weight: 800;
      }

      @media screen and (min-width: 768px) {
	padding-left: 20px;
	padding-right: 20px;
        padding-top: 10px;
      }
      @media screen and (max-width: 768px) {
	  padding-right: 5%;
	  padding-left: 5%;
	  padding-top: 8px;
      }
    }
};

@include _controlPanel_container_generateGenericContainer(".r-container", 100% - 22.5%) {
    height: 300px;
};

@include _controlPanel_container_generateEmailModule(".r-container");

